/* carousel styles*/
.carousel-admin{
  display: flex;
  padding: 0 10px;
  width: 480px;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  border-radius: 20px;
}

.carousel-admin::-webkit-scrollbar {
  width: 12px; 
  height: 10px;
}

.carousel-admin::-webkit-scrollbar-thumb {
  background-color: rgba(207, 207, 207, 0.559); 
  border-radius: 6px; 
}
.carousel-admin .company-container{
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 8px;
  width: 80px;
  height: 80px;
  scroll-snap-align: start;
  border-radius: 20px;
}
.carousel-admin .company-container .company-logo{
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/* status indicator styles */
.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block; /* Hace que el círculo no ocupe toda la línea */
  margin-right: 8px; /* Ajusta el espacio entre el círculo y el texto */
}


/* Menu overlay */


/* TABLET */
@media (max-width: 1200px) {
  .hide-md {
    display: none;
  }
  .carousel-admin {
    width: 285px;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  .hide-sm {
    display: none;
  }
  .carousel-admin {
    width: 100%;
  }
  .carousel-admin::-webkit-scrollbar{
    display: none;
  }
}
