.bannerPri{
    background-image: url(../../public/img/imagen_final.png);
    background-size: cover;
    background-position: center;
    height: 32rem;
}

.imageAbout{
    background-image: url(../../public/img/img1.jpg);
    background-size: cover;
    background-position: center;
    height: 32rem;
}